
<app-navbar></app-navbar>
<div class="section-one">
  <div class="container">
    <div class="row">
      <div class="col col-position1">
        <h2 class="section-one__title"> Miles de <span class="text-style"> Venezolanos</span> listos para descubrir y ocuparse de tus proyectos</h2>
        <button class="register-button"><span>Registrate ahora!</span></button>
      </div>
      <div class="col">
        <img src="assets/landing/principal-image.gif" class="animated-img" alt="">
      </div>
    </div>
    <div class="separator">
      <svg class="separator__svg" width="100%" height="400" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#44A36F" version="1.1">
          <path d="M 100 100 V 10 L 0 100" fill= "#fff"/>
          <path d="M 30 73 L 100 18 V 10 Z" fill="#3a30a0" stroke-width="0"/>
        </svg>
    </div>
  </div>
</div>
<div class="section-two">
  <h2 class="text-center section-two-text">Ventajas de elegirnos</h2>
  <div class="container-lg" data-aos="fade-down" data-aos-offset="380" data-aos-easing="ease-in-sine">
    <div class="card-group">
      <div class="card">
        <img src="assets/landing/cards/card-1.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Libertad de comunicación</h5>
          <p class="card-text">Podrás comunicarte desde cualquier lugar con tu freelancer o contratador, mediante nuestro chat interno.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/landing/cards/card-2.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Oportunidades</h5>
          <p class="card-text">Como freelancer tendrás la ventaja de destacar mediante tu perfil y podrás proponer el sueldo que aspiras a obtener.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/landing/cards/card-3.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Sencillez y efectividad</h5>
          <p class="card-text">Propones de manera sencilla tus proyectos y vacantes, posicionando tu empresa con la oportunidad de tener a los mejores freelancers.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-three" >
  <div class="container-lg">
    <h2 class="text-center">¿Cómo funciona?</h2>
  <div class="card-group" data-aos="fade-down" data-aos-offset="690" data-aos-easing="ease-in-sine">
    <div class="card card-steps">
      <div class="card-body card-body-style">
        <i class="fas fa-3x fa-users"></i>
        <h5 class="card-title text-center text-size">Publicar</h5>
        <p class="card-text lh-base">Cuentanos en simples pasos que propuesta quieres realizar. ¡Gratis y sin compromiso!</p>
      </div>
    </div>
    <div class="card card-steps">
      <div class="card-body card-body-style">
        <i class="fas fa-3x fa-mouse-pointer"></i>
        <h5 class="card-title text-center text-size">Seleccionar</h5>
        <p class="card-text lh-base">Recibe propuestas de excelentes freelancers. Elige al mejor para tu proyecto y selecciona si deseas la cata automatizada de captación para escorger al mejor candidato.</p>
      </div>
    </div>
    <div class="card card-steps">
      <div class="card-body card-body-style">
        <i class="fas fa-3x fa-meteor"></i>
        <h5 class="card-title text-center text-size">Empieza ahora</h5>
        <p class="card-text lh-base">Comunicate con tu freelancer seleccionado y ¡Que comience el trabajo!</p>
      </div>
    </div>
  </div>
  </div>
</section>
<div class="section-banner">
  <div class="container-lg" data-aos="fade-down" data-aos-offset="800" data-aos-easing="ease-in-sine" >
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/landing/developer.gif" class="banners-img" alt="">
      </div>
      <div class="col-sm-6 col-position">
        <p class="banners-text text-center">Conviertete en freelancer y forma parte de nuestro increible talento Venezolano <img src="assets/landing/venezuela.png" style="height: 2.5rem;"></p>
        <button class="register-button" routerLink="record-type"><span>¡Registrate ahora!</span></button>
      </div>
    </div>
  </div>
</div>
<section class="section-four">
  <div class="container-lg" data-aos="fade-down" data-aos-offset="900" data-aos-easing="ease-in-sine" >
    <h2 class="text-center">Principales habilidades de nuestros freelancers</h2>
    <div class="card-group">
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/backend.png" class="icons" alt=""> Desarrollador Backend</h5>
          <p class="card-text text-center">Se encarga de diseñar la lógica y las soluciones para que todas las acciones solicitadas en una página web sean ejecutadas de manera correcta.</p>
        </div>
      </div>
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/frontend.png" class="icons" alt=""> Desarrollador frontend</h5>
          <p class="card-text text-center">Trabaja la interfaz desde el punto de vista del código para que el usuario pueda interactuar con un sistema.</p>
        </div>
      </div>
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/full-stack.png" class="icons" alt="">Desarrollador Fullstack</h5>
          <p class="card-text text-center">Maneja todos los aspectos relacionados con la creación de una aplicación web. posee conocimientos en desarrollo Front-End y Back-End. </p>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/software.png" class="icons" alt="">Desarrollador de Software</h5>
          <p class="card-text text-center">Se encargan de desarrollar los pilares de los sistemas operativos que son creados por los Programadores y de probar el código de nuevos programas para garantizar su eficiencia.</p>
        </div>
      </div>
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/smartphone.png" class="icons" alt="">Desarrollador Móvil</h5>
          <p class="card-text text-center">Especializado en el tema se encarga de diseñar, programar y ejecutar aplicaciones para dispositivos como tabletas o celulares.</p>
        </div>
      </div>
      <div class="card card-tec">
        <div class="card-body">
          <h5 class="card-title text-center"><img src="assets/landing/icons/QA.png" class="icons" alt="">ingeniero QA</h5>
          <p class="card-text text-center">Monitorea cada fase del proceso de desarrollo de software y asegura que el diseño y el software cumplan con los estándares de la compañía.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-banner">
  <div class="container-lg" data-aos="fade-down" data-aos-offset="900" data-aos-easing="ease-in-sine" >
    <div class="row">
      <div class="col-sm-6 col-position">
        <p class="banners-text text-center">¡Tu Industria se puede expandir! Amplia tus canales, mercado y productos con We Workers</p>
        <button class="register-button"><span>¡Comenzar Ahora!</span></button>
      </div>
      <div class="col-sm-6">
        <img src="assets/landing/data.gif" class="banners-img" alt="">
      </div>
    </div>
  </div>
</div>
<section class="section-jornadas">
  <h2 class="text-center">Encuentra un trabajo...</h2>
  <div class="container-lg" data-aos="fade-down" data-aos-offset="850" data-aos-easing="ease-in-sine" >
    <div class="card-group">
      <div class="card card-steps">
        <div class="card-body card-body-style">
          <i class="fas fa-2x fa-sync-alt"></i>
          <h5 class="card-title text-center text-size"> Media Jornada</h5>
        </div>
      </div>
      <div class="card card-steps">
        <div class="card-body card-body-style">
          <i class="fas fa-2x fa-street-view"></i>
          <h5 class="card-title text-center text-size">Presencial</h5>
        </div>
      </div>
      <div class="card card-steps">
        <div class="card-body card-body-style">
          <i class="fas fa-2x fa-laptop"></i>
          <h5 class="card-title text-center text-size">Teletrabajo</h5>
        </div>
      </div>
      <div class="card card-steps">
        <div class="card-body card-body-style">
          <i class="fas fa-2x fa-comments-dollar"></i>
          <h5 class="card-title text-center text-size">Sueldo al que aspiras</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonios </h2>
        </div>
        <div class="row people" data-aos="fade-down" data-aos-offset="910">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">We Workers se convirtió en una herramienta invaluable para la contratación de profesionales en mi empresa. Sin duda es el mercado de talentos más grande de Venezuela, y además, ¡está en español!</p>
                </div>
                <div class="author">
                  <img class="rounded-circle" src="">
                    <h5 class="name">Ben Johnson</h5>
                    <p class="title">CEO of Company Inc.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">En We Workers puedo contratar varios profesionales al mismo tiempo, así evito retrasos y el resultado es siempre muy bueno. Claro que tuve problemas, pero tengo autonomía para resolverlos y avanzar con un nuevo profesional.</p>
                </div>
                <div class="author"><img class="rounded-circle" src="">
                    <h5 class="name">Carl Kent</h5>
                    <p class="title">Founder of Style Co.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">El modelo de trabajo de We Workers nos ha facilitado el desarrollo de muchos proyectos. Sin esta herramienta, no hubiésemos logrado en tiempo, forma y costo lo que ha sido conseguido.</p>
                </div>
                <div class="author"><img class="rounded-circle" >
                    <h5 class="name">Emily Clark</h5>
                    <p class="title">Owner of Creative Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>
