h2{
  margin-bottom: 50px;
  padding-top: 40px;
  font-family: sans-serif;
  font-weight: 700;
}

.section-one {
  background-image: url(../../../assets/landing/landing-background.jpg);
  background-position: inherit;
  position: relative;
  padding: 0 0 239px;
  height: 10;
  max-height: 100%;
}

.section-one__title {
  color: #fff;
  font-size: 35px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 2.7rem;
  font-weight: 700;
}

.section-two {
  background-color: #fff;
  position: relative;
  /* z-index: -1; */
  height: 100%;
}

.row{
  align-items: center;
}

.col{
  display: flex;
  align-items: center;
}

.col-position1{
  flex-direction: column;
  align-items: baseline;
}

.text-style{
  color: #b7b4f1;
}

.btn-outline-success {
  color: #fcfcfc;
  border-color: #fdfffe;
}

.btn{
  margin-right: 1rem !important;
}

.register-button {
  border-radius: 20px;
  background-color: #bdbaed;
  border: none;
  color: #120642;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 21%);
}

.register-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register-button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.register-button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.register-button:hover:after {
  opacity: 1;
  right: 10px;
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.card-group{
  padding-bottom: 4rem;
}

.card{
 border: 0 !important;
}

.cards-container{
  padding-bottom: 5rem;
}

.card-steps{
  background-image: linear-gradient(120deg, #606af4 0%, #7450e9 100%);
  color: #fff;
  margin: 20px;
}

.text-size{
  font-size: 1.5rem;
}

.card-text{
  text-align: center;
}

.svg-back{
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100px;
  display: block;
}

.section-one__descr {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.card-text{
  text-align: center;
}

.section-banner{
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.banners-img{
  height: 29rem;
}

.banners-text{
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
}

.col-position{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-three{
  background: #f8f8f8;
  padding-top: 3.5rem;
}

.section-four{
  padding-top: 3rem;
  background: #f8f8f8;
  padding-bottom: 1.5rem;
}

.card-tec{
  background-color: #f8f8f8;
}

.icons{
  height: 2rem;
  padding-right: 1rem;
}

.section-jornadas{
  background-color: #f8f8f8;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

 /* testimonios */
.testimonials{
  background-image: url(../../../assets/landing/testimonials.gif);
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  background-position: bottom;
  background-position-x: left;
}

.testimonials-clean {
  color:#313437;
}

.testimonials-clean h2 {
  margin-bottom:40px;
  padding-top:40px;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:25px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#eef4f7;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#eef4f7;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}

@media screen and (max-width: 1000px) {

  .section-one {
      /* padding: 130px 0 190px; */
      padding: 66px 0 190px;
  }

  .section-one .row{
    display: flex;
    flex-direction: column;
  }

  .section-one__title {
    text-align: center;
    font-size: 2rem;
  }

  .col{
    justify-content: center;
  }

  .col-position {
    flex-direction: column;
    align-items: center;
  }

  .separator {
      bottom: -110px;
  }

  .separator__svg {
      left: -26%;
      position: relative;
      transform: rotate(15deg);
      width: 140%;
  }

  .animated-img, .img-style, .image-banner, .banners-img{
      max-width: 100%;
      height: auto;
  }

  .section-two{
    height: auto;
    padding-bottom: 1rem;
  }

  .register-button{
    align-self: center !important;
  }

  .card-group{
    padding-bottom: 0;
  }
}

.card-body-style{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-3x, .fa-2x {
  font-size: 3em;
  padding-bottom: 1rem !important;
}

::ng-deep.btn-outline-light:hover{
  background-color: #cdcbf0 !important;
}
