
<footer class="page-footer font-small blue pt-4" [ngStyle]="{'backgroundColor':'var(--indigo-600)'}">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="row text-center d-flex justify-content-center pt-5">
        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Sobre nosotros</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Freelancers</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Trabaja con nosotros</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">¿Como funciona?</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Contactanos</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <div class="col-md-12 mt-md-0">
        <h5 class="text-uppercase" [style]="{'color':'#fff','margin-top':'2.5rem'}"><img src="../../../assets/logo/logo-pequeño.svg" [style]="{'height':'3.5rem', 'padding-bottom':'0.5rem'}" alt=""> WE <span [style]="{'color':'#c8cdf7'}">WORKERS</span></h5>
        <p [style]="{'color':'#fff','padding':'0.5rem 7rem'}">Todos los días contribuimos para transformar la forma en la que concebimos el trabajo, para que sea coherente con la forma en la que queremos vivir.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3" [style]="{'color':'#fff'}">© 2021 Copyright:
    <a class="text-white mt-4">WeWorkersTeam</a>
  </div>
</footer>
