<app-navbar></app-navbar>
<div class="header">
  <div class="d-table h-100 w-100">
    <div class="text-center d-table-cell align-middle ">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-left" data-aos="zoom-in" data-aos-offset="25" data-aos-duration="2000">Trabaja con nosotros</h1>
          </div>
          <div class="col">
            <img class="img-banner" src="assets/images/captador/output-onlinegiftools.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


