<div class="stepsdemo-content container" style="margin-bottom: 5rem;">
  <p-card class="card-form">
      <ng-template pTemplate="title">
        Ingresa la información requerida
      </ng-template>
      <ng-template pTemplate="subtitle">
        Ingresa la Información de la modalidad en la que trabajará tu desarrollador seleccionado
      </ng-template>
      <ng-template pTemplate="content">
          <div class="p-fluid">
              <div class="p-field">
                  <label for="modalidadesId">Modalidad</label>
                  <select
                    #modalidadesId="ngModel"
                    id="modalidadesId"
                    type="select"
                    class="form-select"
                    required
                    pInputText
                    [(ngModel)]="proyecto.modalidadesId"
                    [ngClass]="{'ng-dirty': (modalidadesId.invalid && submitted) || (modalidadesId.dirty && modalidadesId.invalid)}"
                  >
                    <option selected disabled>Seleccione una opción</option>
                    <option *ngFor="let modalidad of modalidades" [ngValue]="modalidad.id">{{modalidad.nombre}}</option>
                  </select>
                <small *ngIf="(modalidadesId.invalid && submitted) || (modalidadesId.dirty && modalidadesId.invalid)" class="p-error">Firstname is required.</small>
              </div>
          </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-nogutter p-justify-end text-right d-flex" style=" justify-content: space-between;">
          <p-button label="Anterior" class="p-button-start" (click)="navigateToPrevItem()" icon="pi pi-angle-left" iconPos="left" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
            <p-button label="Guardar proyecto" (click)="complete()" class="p-button-end end-aling" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
        </div>
      </ng-template>
  </p-card>
</div>
