<div class="row" [formGroup]="usuarioForm">
  <h5>Actualizar datos basicos</h5>
  <div class="mb-4" style="border-bottom: 1px solid #00000038">
    <div class="row">
      <div class="col-md-6">
        <label for="usuario" class="form-label">Usuario</label>
      </div>
      <div class="col-md-6 mb-4">
          <!-- <p>{{freelancerData.perfil.usuario}}</p> -->
          <input type="text" class="form-control" id="usuario" formControlName="usuario">
      </div>
      <div class="col-md-6">
        <label for="usuario" class="form-label">Antigua contraseña</label>
      </div>
      <div class="col-md-6 mb-4">
        <!-- <p>{{freelancerData.perfil.usuario}}</p> -->
        <input type="text" class="form-control" id="usuario"  formControlName="claveVieja">
      </div>
      <div class="col-md-6">
        <label for="usuario" class="form-label">Nueva contraseña</label>
      </div>
      <div class="col-md-6 mb-4">
        <!-- <p>{{freelancerData.perfil.usuario}}</p> -->
        <input type="text" class="form-control" id="usuario" formControlName="claveNueva">
      </div>
      <div class="col-md-6">
        <label for="usuario" class="form-label">Repetir contraseña</label>
      </div>
      <div class="col-md-6 mb-4">
        <!-- <p>{{freelancerData.perfil.usuario}}</p> -->
        <input type="text" class="form-control" id="usuario" formControlName="confirmarClave">
      </div>
    </div>
    <button pButton pRipple type="button" (click)="saveUsuario(usuarioForm.value)" label="Guardar" [disabled]="!usuarioForm.valid" class="p-button-rounded mt-4 mb-4" [style]="{'backgroundColor':'var(--indigo-500)', 'border':'var(--indigo-500)'}"></button>
  </div>
</div>
<div class="row" [formGroup]="personaForm">
  <h5>Actualizar datos personales</h5>
  <div class="mb-4">
    <div class="row">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
      </div>
      <div class="col-md-6 mb-4">
          <!-- <p>{{freelancerData.perfil.primerNombre}} {{freelancerData.perfil.segundoNombre}} {{freelancerData.perfil.primerApellido}} {{freelancerData.perfil.segundoApellido}}</p> -->
          <input type="text" class="form-control mb-2" id="nombre" placeholder="primer Nombre" formControlName="primerNombre">
          <input type="text" class="form-control mb-2" id="nombre" placeholder="segundo Nombre" formControlName="segundoNombre">
          <input type="text" class="form-control mb-2" id="nombre" placeholder="primer apellido" formControlName="primerApellido">
          <input type="text" class="form-control mb-2" id="nombre" placeholder="segundo apellido" formControlName="segundoApellido">
      </div>
      <div class="col-md-6">
        <label for="cedula" class="form-label">Tipo de Identificación</label>
      </div>
      <div class="col-md-6 mb-4">
          <!-- <p>{{freelancerData.perfil.identificacion}}</p> -->
          <select class="form-select" formControlName="idTipoIdentificacion" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
      <div class="col-md-6">
        <label for="cedula" class="form-label">Cedula</label>
      </div>
      <div class="col-md-6 mb-4">
          <!-- <p>{{freelancerData.perfil.identificacion}}</p> -->
          <input type="text" class="form-control" id="cedula" formControlName="identificacion">
      </div>
    </div>
    <button pButton pRipple type="button" (click)="savePersona(personaForm.value)" [disabled]="!personaForm.valid" label="Guardar" class="p-button-rounded mt-4" [style]="{'backgroundColor':'var(--indigo-500)', 'border':'var(--indigo-500)'}"></button>
  </div>
</div>
