<div class="container emp-profile">
  <form *ngIf="userData">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="assets/images/preview/manos.gif" alt=""/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                          <h5 style="text-transform: capitalize;">
                            {{userData.primerNombre}} {{userData.primerApellido}}
                          </h5>
                          <h6>
                              Desarrollador {{userData.tipoDesarrollador}}
                          </h6>
                          <p class="proile-rating"><br></p>
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Datos personales</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Perfil Profesional</button>
                            </li>
                          </ul>
              </div>
          </div>
          <!-- <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Contactar" style="background-color: var(--indigo-600); color: #fff;"/>
          </div> -->
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
                <div>
                  <p>Idiomas</p>
                  <ul *ngFor="let idiomas of userData.idiomas">
                    <li>{{idiomas.nombreLargo}}</li>
                  </ul>
                </div>
                <div>
                  <p>Habilidades</p>
                  <ul >
                    <li  *ngFor="let tag of userData.tags" style="margin-bottom: 0.3rem;">
                      <p-tag styleClass="p-mr-2" [value]="tag.nombre" icon="pi pi-star-o" [style]="{'backgroundColor': 'var(--indigo-300)', 'font-size': '0.95rem', 'margin-right': '0.7rem','border-radius':'1rem'}"></p-tag>
                    </li>
                  </ul>
                </div>
                <div>
                  <p>Redes</p>
                  <ul *ngFor="let redes of userData.redes">
                    <li>{{redes.nombre}}</li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                      <label>Usuario</label>
                  </div>
                  <div class="col-md-6">
                      <p>{{userData.usuario}}</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Nombre</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.primerNombre}} {{userData.segundoNombre}} {{userData.primerApellido}} {{userData.segundoApellido}}</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <label>Identificación</label>
                  </div>
                  <div class="col-md-6">
                      <p>{{userData.identificacion}}</p>
                  </div>
              </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Correo</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.direccion}}</p>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-md-6">
                        <label>Modalidad</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.modalidad}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Sueldo que aspira</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.sueldo}}{{userData.monedaNombreCorto}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tipo de pago</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.tipoPago}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tipo de desarrollador</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{userData.tipoDesarrollador}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Descripcion personal</label><br/>
                        <p>{{userData.descripcion}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
