<p-table responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
        <td><h5>Pills</h5>
          <p-tag styleClass="p-mr-2" value="Primary" [rounded]="true"></p-tag></td>
        <td></td>
        <td></td>
        <td></td>
          <!-- <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.quantity}}</td> -->
      </tr>
  </ng-template>
</p-table>
