<p-card [style]="{'margin-bottom': '2em'}">
  <div class="row">
  <div class="col-md-6">
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmitQuestionnaire(questionnaireForm.value)" autocomplete="off">
      <div class="form-group">
        <!-- <input class="form-control" formControlName="proyectosId"> este id se maneja solo dentro de la lógica-->
        <div formArrayName="preguntas">
          <div class="d-flex justify-content-between">
            <h3>Crear cuestionario</h3>
            <!-- <button (click)="addItemPreguntas()" >Agregar otra pregunta</button> -->
            <button
              [style]="{'backgroundColor':'var(--indigo-600', 'border':'none'}"
              pButton
              type="button"
              (click)="addItemPreguntas()"
              label="Agregar pregunta"
              *ngIf="type === 'crear'"
            ></button>
          </div>
          <!-- </div> -->
          <div
            class="pt-5 pb-5 pl-2"
            *ngFor="let pregunta of preguntas.controls;  let i=index"
          >
          <div [formGroupName]="i">
              <h3>Pregunta {{i+1}}</h3>
              <div class="form-floating mb-3">
                <input formControlName="pregunta" type="text" class="form-control" id="pregunta{{i+1}}" placeholder="pregunta{{i+1}}">
                <label for="pregunta{{i+1}}">Ingrese su pregunta</label>
              </div>
              <!-- <input formControlName="pregunta" placeholder=""> -->
              <div formArrayName="respuestas">
                <div class="d-flex justify-content-between">
                  <h3>Respuestas</h3>
                  <button
                    [style]="{'backgroundColor':'var(--indigo-600', 'border':'none'}"
                    pButton
                    type="button"
                    (click)="addItemRespuestas(i)"
                    label="Agregar respuesta"
                    *ngIf="type === 'crear'"
                  ></button>
                </div>
                <div *ngFor="let respuestas of getrespuestas(i).controls;  let j=index">
                  <ng-container [formGroup]="respuestas">
                    <div class="d-flex mb-3">
                      <div class="form-floating" >
                        <input formControlName="respuesta" type="text" class="form-control" id="respuesta{{i+1}}" placeholder="pregunta{{i+1}}">
                        <label for="respuesta{{i+1}}">Ingrese una respuesta</label>
                      </div>
                      <!-- <input formControlName="" /> -->
                      <!-- <input formControlName="correcta"   /> -->
                      <div class="form-check" *ngIf="type === 'crear'">
                        <input class="form-check-input" type="radio" name="correcta{{i+1}}" id="correcta{{i}}" [value]="true" (change)="onChangeCorrecta($event,i,j)">                        <label class="form-check-label" for="correcta{{i}}">
                          Correcta
                        </label>

                      </div>
                     <!-- <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="acceptable" formControlName="correcta" name="correcta" class="custom-control-input" [value]="true">
                        <label class="custom-control-label" for="acceptable">correcta</label>
                      </div> -->
                      <!-- <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="inacceptable" formControlName="correcta" name="correcta" class="custom-control-input" [value]="false">
                        <label class="custom-control-label" for="inacceptable">Incorreca</label>
                      </div> -->
                      <!-- <i
                        class="pi pi-check icon"
                        [style]="{'font-size':'1.3rem','color':'#008000','align-self': 'center', 'margin-left':'15px'}"
                        *ngIf="type === 'ver' && respuestas.correcta"
                      ></i> -->
                      <i
                        class="pi pi-trash"
                        [style]="{'font-size':'1.3rem','color':'#D61F27','align-self': 'center', 'margin-left':'15px'}"
                        (click)="deleteRespuesta(i, j)"
                        *ngIf="type === 'crear'"
                      ></i>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- <div formArrayName="respuestas">
                <h3>Respuestas</h3>
                <button (click)="addItemRespuestas()" >Agregar respuestas </button>
                <div *ngFor="let respuestas of respuestas.controls;">
                  <ng-container [formGroup]="respuestas">
                    <input formControlName="respuesta" />
                    <input formControlName="correcta" />
                  </ng-container>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="type === 'crear'" type="submit" [disabled]="!questionnaireForm.valid" class="btn btn-primary" style="background-color: var(--indigo-600); border: none;">Guardar Quiz</button>
      <!-- <p-button label="Guardar cuestionario" type="submit" [style]="{'backgroundColor':'var(--indigo-600)', 'border':'none'}"></p-button> -->
    </form>
    <br>
    <button type="button" class="btn btn-primary" style="background-color: var(--indigo-600); border: none;" routerLink="/dashboard/projects">Volver</button>
    <br>
    <br>
    <button *ngIf="type === 'ver'" (click)="deleteQuiz()" type="button" class="btn" style="background-color: #C70B0B; border: none; color: #fff;">Eliminar cuestionario</button>
  </div>
  <div class="col-md-6">
    <img src="assets/images/questionary/parte-4.png" alt="" style="max-width:100%; height: auto;">
    <h5 class="text-center">Instrucciones a seguir</h5>
    <ul>
      <li class="mb-2 text-justify">Para agregar una nueva pregunta, se debe seleccionar al boton que indica "crear cuestionario".</li>
      <li class="mb-2 text-justify">Para agregar la cantidad de respuestas que desees, se debe dar click en el boton de "agregar respuesta".</li>
      <li class="mb-2 text-justify">Indica por cada una de las preguntas la respuesta correcta de la misma utilizando los checkbox que estan a un lado del campo para ingresar la respuesta.</li>
    </ul>
  </div>
</div>
</p-card>

