.footer{
  background-color: #120c2d;
}

.bg{
  background-color: #120c2d !important;
  color: #fff;
  padding: 2rem;
}

.span-color{
  color: #818cf0;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

