<section class="container-lg">
  <h3 class="text-center mt-lg-4">Bienvenido al Quiz personalizado de We Workers</h3>
  <h3 class="text-center" *ngIf="proyecto">para aplicar al proyecto {{proyecto}}</h3>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="row">
          <img src="assets/images/questionary/paso-1.gif" alt="">
          <p class="text-center">Pon a prueba tus conocimientos con el test básico de We Workers hecho especialmente
            para que puedas demostrar las habilidades que emplearas desarrollando el proyecto , ¡Aprueba el test y obtén mas oportunidad de ser seleccionado!
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="row">
          <img src="assets/images/questionary/paso-2.gif" alt="">
          <p class="text-center">El test contiene una serie de preguntas realizadas por la persona que propone el proyecto y no hay límite de tiempo.
          La prueba no es oficial, es sólo una buena manera de ver cuánto sabes sobre las tecnologias y habilidades que se emplean en el proyecto. </p>
        </div>
      </div>
      <div class="col-md">
        <div class="row">
          <img src="assets/images/questionary/paso-3.gif" alt="">
          <p class="text-center">Obtendrá un % por cada respuesta correcta. Al final del cuestionario, se mostrará su puntuación total sobre el 100% de
          la puntuación máxima.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button pButton pRipple type="button" label="Iniciar quiz" routerLink="/dashboard/answer" class="p-button-rounded button"></button>
    </div>
  </div>
</section>
<app-load [load]="loading"></app-load>
