<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <div  class="welcome-card" *ngIf="welcome">
    <p-card header="¡Hola, Bienvenido a We Workers!" [style]="{'width': 'auto', 'margin': '2em 3rem', 'display': 'flex'}">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/landing/developer.gif">
      </ng-template>
    <i class="pi pi-times icon" (click)="welcome = !welcome" style="cursor: pointer;"></i>
      <p>¿Listo para crear proyectos?, Ingresa a tu perfil presionando el icono que está en la barra de navegación y comienza a crear tus propuestas de empleo, recuerda leer nuestras políticas y términos de condición para cerciorarte de tener una buena experiencia utilizando We Workers ¡Mucho exitó compañero!</p>
    </p-card>
  </div>
  <div class="conatiner-lg" *ngIf="this.message === ''">
    <h5 class="mt-4" style="margin-left: 3rem;">Total de resultados obtenidos: <span style="color: #36459a;">{{paginationService.totalCount}}</span></h5>
    <div *ngIf="params !== null">
      <div >
        <h5 class="mt-2" style="margin-left: 3rem;">Búsqueda realizada:
          <span style="color: #36459a;" *ngFor="let params of params">
            <p-tag [style]="{'backgroundColor': '#5c72eb'}" *ngIf="params.key !== 'page' && params.key !== 'perPage'" styleClass="p-mr-2 ml-5" value="{{params.value}}" [rounded]="true"></p-tag>
          </span>
        </h5>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="p-col p-d-flex p-ai-center p-jc-center" *ngFor="let captados of listadoCaptados">
        <p-card [header]="captados.nombreCompleto" [style]="{'width': 'auto', 'margin': '2em 3rem', 'backgroundColor':'var(--bluegray-50)'}">
          <div class="row">
            <div class="col-md-10">
              <p>{{captados.perfilProfesional?.descripcion}}</p>
              <br>
              <ul style="list-style: none; padding-left: 0;" *ngIf="captados.idiomas[0] !== null">
                <h5>Detalles</h5>
                <li>Modalidad: {{captados.perfilProfesional?.modalidad}}</li>
                <li>Desarrollador {{captados.perfilProfesional?.tipoDesarrollador}}</li>
                <li>Idioma: <span *ngFor="let idioma of captados.idiomas; let i = index"><i *ngIf="i === 1">,</i> {{idioma.nombreLargo}} </span> </li>
              </ul>
              <div class="d-flex" *ngIf="captados.tags[0] !== null">
                <div *ngFor="let tag of captados.tags">
                  <p-tag styleClass="p-mr-2" [value]="tag.nombre" icon="pi pi-star-o" [style]="{'backgroundColor': 'var(--indigo-300)', 'font-size': '0.95rem', 'margin-right': '0.7rem','border-radius':'1rem'}"></p-tag>
                </div>
              </div>
            </div>
            <div class="col-md-2 button-aling">
              <button pButton pRipple type="button" routerLink="/dashboard/project-data" label="Ver perfil" routerLink="/dashboard/preview-profile/{{captados.id}}" class="p-button-rounded" [style]="{'backgroundColor':'var(--indigo-600)','margin-bottom':'0.5rem'}"></button>
              <!-- <ul class="payment-aling">
                <li style="padding-right: 0.2rem; text-transform: capitalize;">{{proyecto.tiposPagoNombre}}</li>
                <li>{{proyecto.presupuesto}} {{proyecto.monedaNombreCorto}}</li>
              </ul> -->
            </div>
          </div>
      </p-card>
      <!-- <p-divider></p-divider> -->
      </div>
  </div>
  <div *ngIf="message !== ''">
    <img class="text-center" src="assets/images/Dashboard/message.gif" height="200px" style="display:block;
    margin:auto;" alt="">
    <h3 class="text-center">{{message}}</h3>
    <br>
  </div>
  <div class="filter">
    <app-pagination
    [rows]="paginationService.perPage"
    [totalRecords]="paginationService.totalCount"
    (paginatorChange)="onChangePagination($event)"
  ></app-pagination>
  </div>
</div>
<app-load [load]="loading"></app-load>
<app-footer-general class="footer"></app-footer-general>


