.footer{
  min-height: 60px;
  flex-grow: 0;
}

.page-wrapper {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

::ng-deep.icon{
  position: absolute;
  top: 119px;
  right: 167px;
  z-index: 1;
}

::ng-deep .p-card-body{
  align-self: center !important;
}



