<div class="stepsdemo-content container" style="margin-bottom: 5rem;">
  <p-card class="card-form">
      <ng-template pTemplate="title">
        Ingresa la información requerida
      </ng-template>
      <ng-template pTemplate="subtitle">
        Ingresa la Información de presupuesto y las tecnologías requeridas para desarrollar tu proyecto
      </ng-template>
      <ng-template pTemplate="content">
          <div class="p-fluid">
              <div class="p-field">
                <label for="presupuesto">Presupuesto</label>
                <input
                #presupuesto="ngModel"
                id="presupuesto"
                type="number"
                required
                pInputText
                [(ngModel)]="proyecto.presupuesto"
                [ngClass]="{'ng-dirty': (presupuesto.invalid && submitted) || (presupuesto.dirty && presupuesto.invalid)}">
                <small *ngIf="(presupuesto.invalid && submitted) || (presupuesto.dirty && presupuesto.invalid)" class="p-error">El presupuesto es requerido.</small>
              </div>
              <div class="p-field mt-4">
                <div class="p-fluid">
                  <label for="tags">Tecnologías requeridas</label>
                  <p-chips
                    [(ngModel)]="tags"
                    [ngClass]="{'a-chips': (tags.length === 0) ? true : false && submitted}"
                  ></p-chips>
                </div>
                <small class="p-error" *ngIf="((tags.length === 0) ? true : false && submitted)">Las tecnologías son requeridas.</small>
              </div>
          </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-nogutter p-justify-end text-right d-flex" style=" justify-content: space-between;">
          <p-button label="Anterior" class="p-button-start" (click)="navigateToPrevItem()" icon="pi pi-angle-left" iconPos="left" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
          <p-button label="Siguiente" class="p-button-end aling-style" (click)="navigateToNext()" icon="pi pi-angle-right" iconPos="right" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
        </div>
      </ng-template>
  </p-card>
</div>
