<div class="stepsdemo-content container" style="margin-bottom: 5rem;">
  <p-card  class="card-form">
      <ng-template pTemplate="title">
        Ingresa la información requerida
      </ng-template>
      <ng-template pTemplate="subtitle">
        Ingresa la Información de tipo de moneda y tipo de pago que recibirá tu desarrollador seleccionado
      </ng-template>
      <ng-template pTemplate="content">
          <div class="p-fluid">
              <div class="p-field">
                  <label for="monedasId">Moneda</label>
                  <select #monedasId="ngModel" id="monedasId" type="select" required pInputText [(ngModel)]="proyecto.monedasId" [ngClass]="{'ng-dirty': (monedasId.invalid && submitted) || (monedasId.dirty && monedasId.invalid)}" class="form-select">
                    <option selected disabled>Seleccione una opción</option>
                    <option *ngFor="let listadoMoneda of listaMoneda" [ngValue]="listadoMoneda.id">{{listadoMoneda.nombreLargo}}</option>
                  </select>
                <small *ngIf="(monedasId.invalid && submitted) || (monedasId.dirty && monedasId.invalid)" class="p-error">el tipo de moneda es requerido.</small>
              </div>
              <div class="p-field mt-4">
                  <label for="tiposPagoId">tipo de pago</label>
                  <select
                    #tiposPagoId="ngModel"
                    id="tiposPagoId"
                    class="form-select"
                    pInputText
                    required
                    [(ngModel)]="proyecto.tiposPagoId"
                    [ngClass]="{'ng-dirty': (tiposPagoId.invalid && submitted) || (tiposPagoId.dirty && tiposPagoId.invalid)}"
                  >
                    <option selected disabled>Seleccione una opción</option>
                    <option *ngFor="let tiposPago of tiposPago" [ngValue]="tiposPago.id">{{tiposPago.nombre}}</option>
                  </select>
                  <small class="p-error" *ngIf="(tiposPagoId.invalid && submitted )|| (tiposPagoId.dirty && tiposPagoId.invalid)">Lastname is required.</small>
              </div>
          </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-nogutter p-justify-end text-right d-flex" style=" justify-content: space-between;">
            <p-button label="Anterior" class="p-button-start" (click)="navigateToPrevItem()" icon="pi pi-angle-left" iconPos="left" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
            <p-button label="Siguiente" class="d-flex justify-content-end p-button-end end-aling" (click)="navigateToNext()" icon="pi pi-angle-right" iconPos="right" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
        </div>
      </ng-template>
  </p-card>
</div>
