<section class=" gradient-custom-2" *ngIf="!signin">
  <div class="container py-4">
    <div class="row d-flex justify-content-center align-items-center area1">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px; border: none;">
          <div class="card-body p-0">
            <form [formGroup]="registerCollectorForm" autocomplete="off">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-4" style="color: #4835d4;">Informacion General</h3>
                    <div>
                      <div class="row">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <select class="form-select" id="floatingSelect" formControlName="idTipoIdentificacion">
                              <option selected value="">Selecciona una opción</option>
                              <option *ngFor="let idTipoIdentificacion of tipodeidentificacion" value="{{idTipoIdentificacion.id}}">{{idTipoIdentificacion.tipo  | uppercase }}</option>
                            </select>
                            <label for="floatingSelect" class="form-label">Tipo de identificación</label>
                            <div class="message" *ngIf="registerCollectorForm.get('idTipoIdentificacion').touched && !registerCollectorForm.get('idTipoIdentificacion').valid">
                              Seleccione su tipo de identificación
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="identificacion">
                            <label for="floatingTextarea" style="color: #000;">Identificación</label>
                            <div id="validationServer03Feedback" class="message" *ngIf="registerCollectorForm.get('identificacion').touched && !registerCollectorForm.get('identificacion').valid">
                              Por favor escribe tu identificación.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="primerNombre" (keypress)="onlyLetters($event)">
                            <label for="floatingTextarea" style="color: #000;">Primer Nombre</label>
                            <div class="message" *ngIf="registerCollectorForm.get('primerNombre').touched && !registerCollectorForm.get('primerNombre').valid">
                              Por favor escribe tu nombre.
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="segundoNombre" (keypress)="onlyLetters($event)">
                            <label for="floatingTextarea" style="color: #000;">Segundo Nombre</label>
                            <div class="message" *ngIf="registerCollectorForm.get('segundoNombre').touched && !registerCollectorForm.get('segundoNombre').valid">
                              Por favor escribe tu segundo nombre.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="primerApellido" (keypress)="onlyLetters($event)">
                            <label for="floatingTextarea" style="color: #000;">Primer Apellido</label>
                            <div class="message" *ngIf="registerCollectorForm.get('primerApellido').touched && !registerCollectorForm.get('primerApellido').valid">
                              Por favor escribe tu apellido.
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="segundoApellido" (keypress)="onlyLetters($event)">
                            <label for="floatingTextarea" style="color: #000;">Segundo Apellido</label>
                            <div class="message" *ngIf="registerCollectorForm.get('segundoApellido').touched && !registerCollectorForm.get('segundoApellido').valid">
                              Por favor escribe tu segundo apellido.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mb-4 ">
                      <div class="form-floating">
                        <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="direccion" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                        <label for="floatingTextarea" style="color: #000;">Correo</label>
                        <div class="message" *ngIf="registerCollectorForm.get('direccion').hasError('pattern')">
                          Correo inválido
                        </div>
                        <div class="message" *ngIf="registerCollectorForm.get('direccion').touched && !registerCollectorForm.get('direccion').valid">
                          Por favor escribe tu Correo.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-4">Detalles de cuenta</h3>

                    <div class="mb-4">
                      <div class="form-floating">
                        <input class="form-control" placeholder="Leave a comment here" formControlName="usuario" id="floatingTextarea">
                        <label for="floatingTextarea" style="color: #000;">Usuario</label>
                        <div class="message" *ngIf="registerCollectorForm.get('usuario').touched && !registerCollectorForm.get('usuario').valid">
                          Por favor escribe tu usuario.
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 ">
                      <div class="form-floating">
                        <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" [type]="show_button ?  'text' : 'password'" formControlName="clave" maxlength="18" minlength="6">
                        <i [class]="show_eye ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="showPassword()" id="icon-eye" [style]="{'color':'#000'}"></i>
                        <label for="floatingTextarea" style="color: #000;">Clave</label>
                        <div class="message" *ngIf="registerCollectorForm.get('clave').touched && !registerCollectorForm.get('clave').valid">
                          Por favor escribe tu clave.
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 ">
                        <div class="form-floating">
                          <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" [type]="show_button_confirm ?  'text' : 'password'" formControlName="confirmarClave">
                          <i [class]="show_eye_confirm ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="showConfirmPassword()" id="icon-eye" [style]="{'color':'#000'}"></i>
                          <label for="floatingTextarea" style="color: #000;">Confirmar clave</label>
                          <div class="message" *ngIf="registerCollectorForm.get('confirmarClave').touched && !registerCollectorForm.get('confirmarClave').valid">
                            Por favor escribe de nuevo tu clave.
                          </div>
                          <div class="message" *ngIf="registerCollectorForm.get('confirmarClave').hasError('compare')">
                            Las contraseñas no coinciden
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4 ">
                        <div class="form-floating">
                          <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="razonSocial">
                          <label for="floatingTextarea" style="color: #000;">Razon social</label>
                          <div class="message" *ngIf="registerCollectorForm.get('razonSocial').touched && !registerCollectorForm.get('razonSocial').valid">
                            Por favor escribe tu razon social.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4">
                      <div class="form-floating">
                        <input class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="rif">
                        <label for="floatingTextarea" style="color: #000;">Rif</label>
                        <div class="message" *ngIf="registerCollectorForm.get('rif').touched && !registerCollectorForm.get('rif').valid">
                          Por favor escribe tu rif.
                        </div>
                      </div>
                    </div>
                    <div class="aling-button">
                      <button type="button" class="btn" data-mdb-ripple-color="dark" (click)="postData(registerCollectorForm.value)" [disabled]="!registerCollectorForm.valid" type="submit">Registrar</button>
                      <p> ¿Ya estas registrado? <a routerLink="../login" class="link-dark">Ingresa</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div>
