<p-dialog [(visible)]="display" modal="modal" [responsive]="true" (onHide)="displayChange.emit({bool: false, refresh: false})">
  <p-header closable="false">Propiedades</p-header>
  <form [formGroup]="tagsForm" (ngSubmit)="onSubmitTags(tagsForm.value)">
    <div>
        <p class="text-center" >Habilidades y tecnologías</p>
        <div class="col-md-12">
          <p-chips formControlName="tags"></p-chips>
        </div>
        <button class="btn btn-default openBtn" pButton [disabled]="!tagsForm.valid" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;">Agregar</button>
    </div>
  </form>
</p-dialog>
