<p-dialog [(visible)]="display" modal="modal" [responsive]="true" (onHide)="displayChange.emit({bool: false, refresh: false})">
  <p-header closable="false">Propiedades</p-header>
  <form [formGroup]="idiomaForm" (ngSubmit)="onSubmitIdioma(idiomaForm.value)">
    <div>
        <p class="text-center" >Idiomas</p>
        <div class="col-md-12">
          <select class="form-select" aria-label="Default select example" formControlName="idioma">
            <option selected value="0" disabled>Selecciona una opción</option>
            <option *ngFor="let itemsIdiomas of idiomasArray" [value]="itemsIdiomas.nombreCorto">{{itemsIdiomas.nombreLargo}}</option>
          </select>
        </div>
        <button class="btn btn-default openBtn" pButton [disabled]="!idiomaForm.valid" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;">Agregar idioma</button>
    </div>
  </form>
</p-dialog>
