li {
  background-color: #f3f3f3;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 20px;
  list-style: none;
  color: #818181;
}

.text-header{
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.image{
  max-width: 100%;
  height: auto;
}

ul{
  padding-left: 1rem;
}


@media screen and (min-width: 576px){
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    align-self: center;
  }
}

