<div class="context">
  <h1><img src="assets/logo/logo-pequeño.svg" class="img-logo" alt=""> We <span class="span-color">Workers</span></h1>
    <div class="card" style="align-self: center;">
      <div class="card-body">
        <div class="container">
          <div class="content">
            <h5 class="card-title text-center">¿Quieres contratar a un freelancer?</h5>
            <button type="button" class="btn btn-primary button" routerLink="../register-collector">Contratar un freelancer</button>
          </div>
          <div class="content">
            <h5 class="card-title text-center">¿Quieres trabajar como freelancer?</h5>
            <button type="button" routerLink="register-collector" class="btn btn-primary button" routerLink="../register-freelancer">Trabajar como freelancer</button>
          </div>
        </div>
        <p class="text-center">¿Ya estás registrado?<a (click)="TuNavigate('/auth/login')" class="card-link" style="cursor: pointer;"> Ingresa</a></p>
        <p class="text-center">Volver al<a (click)="TuNavigate('landing')" class="card-link" style="cursor: pointer;"> Inicio</a></p>
      </div>
    </div>
</div>


<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div>
