::ng-deep.card-form{
  color: #3f3f46 !important;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 39%), 0 1px 3px 0 rgb(0 0 0 / 8%) !important;
  border-radius: 0.375rem !important;
  margin-bottom: 1rem;
}

::ng-deep.card-form .p-card-body {
  padding: 2rem !important;
  width: 100%;
  margin-bottom: 1rem;
}

::ng-deep label:focus{
  border: none !important;
  box-shadow: none !important;
}
::ng-deep.p-inputtext:enabled:hover {
  border-color: none!important;
}
@media screen and (max-width: 600px){
  ::ng-deep.p-card {
    background: #ffffff;
    width: 100% !important;
  }
}

::ng-deep .aling-style{
  display: flex !important;
  /* justify-content: end !important; */
}
