<div class="stepsdemo-content container" style="margin-bottom: 5rem;">
  <p-card class="card-form">
    <ng-template pTemplate="title">
      Ingresa la Información requerida
    </ng-template>
    <ng-template pTemplate="subtitle">
      Ingresa la Información de tiempo de tu proyecto
    </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid">
        <div class="p-field">
          <label for="fechaCrea">Fecha de inicio</label>
          <input
            #fechaCrea="ngModel"
            id="fechaCrea"
            type="date"
            required
            pInputText
            [(ngModel)]="proyecto.fechaCrea"
            [ngClass]="{'ng-dirty': (fechaCrea.invalid && submitted) || (fechaCrea.dirty && fechaCrea.invalid)}"
          />
          <small *ngIf="(fechaCrea.invalid && submitted) || (fechaCrea.dirty && fechaCrea.invalid)" class="p-error">La fecha de inicio es requerida.</small>
        </div>
        <div class="p-field mt-4">
          <label for="fechaTermina">Fecha de finalización</label>
          <input
            #fechaTermina="ngModel"
            id="fechaTermina"
            type="date"
            required
            pInputText
            [(ngModel)]="proyecto.fechaTermina"
            [ngClass]="{'ng-dirty': (fechaTermina.invalid && submitted) || (fechaTermina.dirty && fechaTermina.invalid)}"
          />
          <small class="p-error" *ngIf="(fechaTermina.invalid && submitted )|| (fechaTermina.dirty && fechaTermina.invalid)">La fecha de finalización es requerida.</small>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-nogutter p-justify-end text-right d-flex" style=" justify-content: space-between;">
        <p-button label="Anterior" class="p-button-start" (click)="navigateToPrevItem()" icon="pi pi-angle-left" iconPos="left" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
        <p-button label="Siguiente" class="p-button-end aling-style" (click)="navigateToNext()" icon="pi pi-angle-right" iconPos="right" [style]="{'backgroundColor': 'var(--indigo-500)'}"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
