<p-sidebar [(visible)]="display" styleClass="p-sidebar-sm" [transitionOptions]="'0ms'">
  <form [formGroup]="formControlFilter" (ngSubmit)="sendParams(1, 10, formControlFilter.value)">
    <!-- multidropdown moneda -->
    <div class="p-fluid mb-3 mt-3" *ngIf="userRole.value">
      <label for="moneda">Moneda</label>
      <app-multi-dropdown
        *ngIf="items"
        [items]="items"
        [showSearch]="showSearch"
        [showAll]="showAll"
        [showStatus]="showStatus"
        [showError]="showError"
        placeholder="Selecciona el tipo de moneda"
        [type]="'moneda'"
        (itemChange)="onChangeMoneda($event)">
      </app-multi-dropdown>
    </div>

    <!-- multidropdown tiposPago -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="tipoPago">Tipo de pago</label>
      <app-multi-dropdown
        *ngIf="itemsTiposPago"
        [items]="itemsTiposPago"
        [showSearch]="true"
        [showAll]="true"
        [showStatus]="true"
        [showError]="false"
        placeholder="Selecciona el tipo de pago"
        [type]="'pago'"
        (itemChange)="onChangeTipopago($event)">
      </app-multi-dropdown>
    </div>

    <!-- multidropdown redes -->
    <!-- <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="tipoRedes">Tipo de redes</label>
      <app-multi-dropdown
        *ngIf="itemsRedes"
        [items]="itemsRedes"
        [showSearch]="showSearch"
        [showAll]="showAll"
        [showStatus]="showStatus"
        [showError]="showError"
        placeholder="Selecciona el tipo de redes"
        (itemChange)="onChangeRedes($event)">
      </app-multi-dropdown>
    </div> -->

    <!-- etiquetas tecnologias y habilidades -->
    <div class="p-fluid mb-3">
      <label *ngIf="userRole.value">Tecnologías</label>
      <label *ngIf="!userRole.value">Habilidades</label>
      <p-chips
        formControlName="etiqueta"
        (change)="onChangeEtiquetas($event)"
      ></p-chips>
    </div>

    <!-- select modalidades -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="modalidades">Modalidades</label>
      <select class="form-select" aria-label="Default select example" formControlName="modalidad" (change)="onChangeModalidades($event)">
        <option selected disabled>Selecciona el estado</option>
        <option *ngFor="let modalidad of itemsModalidades" value="{{modalidad | json}}">{{modalidad.nombre}}</option>
      </select>
    </div>

    <!-- inputdate Fecha -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="fecha">Fecha inicio</label>
      <input id="startdate" class="form-control" type="date" formControlName="fechainicio" (change)="onChangeDate($event.target.value, 'start')" />
    </div>

    <!-- inputdate Fecha -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="fecha">Fecha fin</label>
      <input id="enddate" class="form-control" type="date" formControlName="fechafinal" (change)="onChangeDate($event.target.value, 'end')" />
    </div>

    <!-- start Presupuesto -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="presupuesto">Presupuesto</label>
      <input type="number" formControlName="presupuesto" class="form-control" step="0.01" (change)="onChangePresupuesto($event.target.value, 'presupuesto')">
    </div>

    <!-- end Presupuesto -->
    <div class="p-fluid mb-3" *ngIf="userRole.value">
      <label for="presupuesto">Presupuesto</label>
      <input type="number" formControlName="presupuestoFinal" class="form-control" step="0.01" (change)="onChangePresupuesto($event.target.value, 'presupuestoFinal')">
    </div>

    <!-- multidropdown idiomas -->
    <div class="p-fluid mb-3" *ngIf="!userRole.value">
      <label for="idiomas">Idiomas</label>
      <app-multi-dropdown
        *ngIf="itemsIdiomas"
        [items]="itemsIdiomas"
        [showSearch]="showSearch"
        [showAll]="showAll"
        [showStatus]="showStatus"
        [showError]="showError"
        placeholder="Selecciona el tipo de idioma"
        [type]="'idioma'"
        (itemChange)="onChangeIdiomas($event)">
      </app-multi-dropdown>
    </div>
    <!-- boton de busqueda -->
    <p-button label="Buscar" type="submit" [style]="{'backgroundColor':'var(--indigo-500)', 'width':'100%'}" [disabled]="!formControlFilter.valid"></p-button>
  </form>



</p-sidebar>

<p-button type="text" class="p-button-sidebar" (click)="display = true" icon="pi pi-cog" [style]="{'border-top-left-radius':'0', 'border':'0', 'backgroundColor':'var(--indigo-500)', 'margin-top' : '0.5rem'}"></p-button>
