::ng-deep .p-menuitem-text {
  color: #fff !important;
}

::ng-deep .p-menuitem-icon {
  color: #fff !important;
}

::ng-deep .p-submenu-icon {
  color: #fff !important;
}

::ng-deep .p-menu .p-menuitem-link .p-menuitem-text {
  color: #495057 !important;
}

.name{
  font-size: 17px;
  margin-right: 0.5rem;
}

.span-color{
  color: #c8cdf7;
}

.navbar-brand, .nav-link{
  color: #fff !important;
  font-size: 1.5rem;
}

.icons{
  padding: 4px 1px;
  color: #fff;
}

::ng-deep .p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.navbar-toggler{
  display: none;
}
@media screen and (max-width:600px) {
  .navbar-toggler{
    display: block;
  }
  .nav-link{
    font-size: 1.2rem;
  }
  ::ng-deep .icon-button{
    display: none;
  }

  .container-icons{
    display: none;
  }
}
