<!-- <p-menubar [model]="items" [style]="{'backgroundColor':'var(--indigo-500)', 'color': 'var(--surface-0)', 'border' : '0', 'box-shadow': '0 2px 6px 0 rgb(0 0 0 / 26%)'}">
  <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 1.5rem; margin: 1rem 1.5rem;" value="2" [style]="{'color':'#fff'}"></i>
  <span class="name">nombre del usuario</span>
  <p-avatar label="V" styleClass="p-mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
</p-menubar> -->
<nav class="navbar navbar-light" [style]="{'backgroundColor':'var(--indigo-500)'}">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/logo/logo-pequeño.svg" alt="" width="40" style="height: 2.3rem;" class="d-inline-block align-text-top">
      <a class="navbar-brand  mb-0 h1" href="#">We <span class="span-color">Workers</span></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Mi Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Politicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Mis Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Mensajeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Cerrar sesión</a>
        </li>
      </ul>
    </div>
    <div class="d-flex" class="container-icons">
      <!-- <button type="button" pButton icon="far fa-bell" class="icon-button" (click)="notifications.toggle($event)" [style]="{'backgroundColor':'var(--indigo-500)', 'border' : 'none', 'font-size': '28px'}"></button> -->
      <p-menu #notifications [popup]="true" [model]="message"></p-menu>
      <button type="button" pButton icon="fas fa-smile-beam" class="icon-button" (click)="menuuser.toggle($event)" [style]="{'backgroundColor':'var(--indigo-500)', 'border' : 'none', 'font-size': '28px'}"></button>
      <p-menu #menuuser [popup]="true" [model]="gfg"></p-menu>
    </div>
  </div>
</nav>

