<p-dialog [(visible)]="display" modal="modal" [responsive]="true" (onHide)="displayChange.emit({bool: false, refresh: false})">
  <p-header closable="false">Propiedades</p-header>
  <form [formGroup]="redesForm" (ngSubmit)="onSubmitRed(redesForm.value)">
    <div>
      <p>Redes</p>
      <div class="col-md-12 mb-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="direccion" id="floatingInput">
          <label for="floatingInput">Direccion</label>
        </div>
        <select class="form-select" formControlName="redId" aria-label="Default select example">
          <option selected [ngValue]="0" disabled>Seleccione una opción</option>
          <option *ngFor="let itemRed of redesArray" value="{{itemRed.id}}">{{itemRed.nombre}}</option>
        </select>
      </div>
      <button *ngIf="type === 'post'" class="btn btn-default openBtn mt-2" pButton [disabled]="!redesForm.valid" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;">Agregar Red</button>
      <button *ngIf="type === 'put'" class="btn btn-default openBtn mt-2" pButton [disabled]="!redesForm.valid" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;">Actualizar Red</button>
    </div>
  </form>
</p-dialog>


