<div class="container-lg emp-profile mb-4" *ngIf="collectorData || freelancerData">
  <form>
    <div class="row mb-4" style="background: #f1f1f1; padding: 2rem; padding-bottom: 0;">
      <div class="col-md-4">
        <h2 *ngIf="userRole" style="text-transform: capitalize;">{{freelancerData.perfil.primerNombre}} {{freelancerData.perfil.primerApellido}}</h2>
        <h2 *ngIf="!userRole" style="text-transform: capitalize;">{{collectorData.perfil.primerNombre | titlecase}} {{collectorData.perfil.primerApellido | titlecase}}</h2>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h6 class="mb-4" *ngIf="userRole">Desarrollador {{freelancerData.perfil.tipoDesarrollador}}</h6>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sobre <i *ngIf="!userRole">la empresa</i><i *ngIf="userRole">mi</i></button>
            </li>
            <li class="nav-item" role="presentation"  *ngIf="userRole">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" >Perfil profesional</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2" style="display: flex; align-self: baseline;">
        <!-- <input type="button" class="profile-edit-btn" name="btnAddMore" value="Editar Perfil"/> -->
        <br>
        <input *ngIf="!userRole" type="button" class="profile-proyect-btn" name="btnAddMore" routerLink="proyect" routerLink="/dashboard/form" value="Crear Proyecto"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="profile-work" *ngIf="userRole">
              <!-- <p *ngIf="!userRole">Habilidades de la empresa</p> -->
              <div>
                <p>Red Social</p>
                <div>
                  <ul class="ulList">
                    <!-- redes -->
                    <li *ngIf="freelancerData.perfil.redes.length === 0">Agregue una red social</li>
                    <li *ngFor="let redes of freelancerData.perfil.redes" class="icons-pi redes">
                      <div>
                        <strong>{{redes.nombre}} </strong>{{redes.direccion}}
                      </div>
                      <div style="padding-right: 1px;">
                        <i class="pi pi-pencil" id="timesiconpencil" [style]="{'color':'#674EA7','cursor': 'pointer','margin': '0 11px'}" (click)="showDialogRedes();typeModalRedes='put';preloadRed=redes"></i>
                        <i class="pi pi-times" id="timesiconredes" [style]="{'color':'#cc0000','cursor': 'pointer'}" (click)="deleteRedes(redes)"></i>
                      </div>
                    </li>
                  </ul>
                </div>
                <button class="btn btn-default openBtn" type="button" pButton label="Agregar Red" [disabled]="jobClosed" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;" (click)="showDialogRedes();typeModalRedes='post';preloadRed=null"></button>
                  <modal-redes [display]="displayModalRedes" [type]="typeModalRedes" [redPreloaded]="preloadRed" (displayChange)="onDialogCloseModalRedes($event)"></modal-redes>
              </div>
              <!-- <a href="">Web Designer</a><br/>
              <a href="">Web Developer</a><br/>
              <a href="">WordPress</a><br/>
              <a href="">WooCommerce</a><br/>
              <a href="">PHP, .Net</a><br/> -->
              <div *ngIf="userRole">
                <p>Idiomas</p>
                <ul class="ulList">
                  <li *ngIf="freelancerData.perfil.idiomas.length === 0">Agregue un idioma</li>
                  <li *ngFor="let idiomas of freelancerData.perfil.idiomas" class="icons-pi">{{idiomas.nombreLargo}} <i class="pi pi-times" [style]="{'color':'#cc0000','cursor': 'pointer'}" (click)="deleteLanguage(idiomas.nombreCorto)"></i></li>
                </ul>
                <button class="btn btn-default openBtn" type="button" pButton label="Agregar idioma" [disabled]="jobClosed" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;" (click)="showDialog()"></button>
                <app-modal [display]="display" (displayChange)="onDialogClose($event)"></app-modal>
              </div>
              <div *ngIf="userRole">
                <p>Habilidades y tecnologías
                  <span style="padding-left: 1em;">
                    <i
                      class="pi pi-pencil pi-color"
                      *ngIf="!editTags"
                      (click)="editionTags()"
                    ></i>
                    <i
                      class="pi pi-trash pi-color"
                      *ngIf="editTags"
                      (click)="deleteTags();editionTags()"
                    ></i>
                  </span>
                </p>
                <ul class="ulList">
                  <li *ngIf="freelancerData.perfil.tags.length === 0">Agregue tecnologías y habilidades</li>
                  <li *ngFor="let tag of freelancerData.perfil.tags" class="icons-pi">
                    {{tag.nombre}}
                    <input *ngIf="editTags" class="form-check-input" type="checkbox" [value]="tag.nombre" id="{{tag.nombre}}" (change)="onCheckboxChange($event, tag)">
                    <!-- <i class="pi pi-times" [style]="{'color':'#cc0000','cursor': 'pointer'}" (click)="deleteTag(tag.nombre)"></i> -->
                  </li>
                </ul>
                <button class="btn btn-default openBtn" type="button" pButton label="Agregar" [disabled]="jobClosed" style="background-color: var(--indigo-600); color: #fff; border-radius: 2rem;" (click)="showDialogTags()"></button>
                <modal-tags [display]="displayModalTags" (displayChange)="onDialogCloseModalTags($event)"></modal-tags>
                <!-- <app-modal [display]="display" (displayChange)="onDialogClose($event)"></app-modal> -->
              </div>
          </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div *ngIf="userRole">
              <!-- Freelancer -->
              <ng-container *ngTemplateOutlet="dataFreelancer"></ng-container>
            </div>
            <div *ngIf="!userRole">
              <ng-container *ngTemplateOutlet="dataCollector"></ng-container>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div *ngIf="userRole">
              <ng-container *ngTemplateOutlet="detailsFreelancer"></ng-container>
              <div *ngIf="!editFormProfessional" >
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label">Tipo de Desarrollador</label>
                  </div>
                  <div class="col-md-6 mb-4">
                    <p>{{freelancerData.perfil.tipoDesarrollador}}</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Modalidad que prefiere</label>
                    </div>
                    <div class="col-md-6 mb-4">
                      <p>{{freelancerData.perfil.modalidad}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="sueldo" class="form-label">Sueldo</label>
                    </div>
                    <div class="col-md-6 mb-4">
                      <p>{{freelancerData.perfil.sueldo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tipo de pago</label>
                    </div>
                    <div class="col-md-6 mb-4">
                      <p>{{freelancerData.perfil.tipoPago}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>tipo de moneda</label>
                    </div>
                    <div class="col-md-6 mb-4">
                      <p>{{freelancerData.perfil.monedaNombreLargo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <label for="experiencia" class="form-label">Experiencia</label>
                      <p>{{freelancerData.perfil.descripcion}}</p>
                    </div>
                </div>
              </div>
            </div>
            <div *ngIf="editFormProfessional">
              <professional-form  [data]="{perfil: freelancerData.perfil, type: 'freelancer'}" (saveChanges)="updateProfesionMode($event)"></professional-form>
              <button *ngIf="editFormProfessional" pButton pRipple type="button" label="Volver" (click)="editFormProfessional =! editFormProfessional" class="p-button-rounded mt-4 text-center" [style]="{'backgroundColor':'var(--indigo-500)'}"></button>
            </div>
            <button *ngIf="!editFormProfessional" pButton pRipple type="button" label="Editar información" (click)="editFormProfessional =! editFormProfessional" class="p-button-rounded mt-4 text-center" [style]="{'backgroundColor':'var(--indigo-500)'}"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #dataFreelancer>
  <div *ngIf="!editFormMode">
    <div class="row">
      <div class="col-md-6">
          <label for="usuario" class="form-label">Usuario</label>
      </div>
      <div class="col-md-6">
          <p>{{freelancerData.perfil.usuario}}</p>
          <!-- <input type="text" class="form-control" id="usuario"> -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
        </div>
        <div class="col-md-6">
            <p>{{freelancerData.perfil.primerNombre}} {{freelancerData.perfil.segundoNombre}} {{freelancerData.perfil.primerApellido}} {{freelancerData.perfil.segundoApellido}}</p>
            <!-- <input type="text" class="form-control mb-2" id="nombre" placeholder="primer Nombre">
            <input type="text" class="form-control mb-2" id="nombre" placeholder="segundo Nombre">
            <input type="text" class="form-control mb-2" id="nombre" placeholder="primer apellido">
            <input type="text" class="form-control mb-2" id="nombre" placeholder="segundo apellido"> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="cedula" class="form-label">Cedula</label>
        </div>
        <div class="col-md-6">
            <p>{{freelancerData.perfil.identificacion}}</p>
            <!-- <input type="text" class="form-control" id="cedula"> -->
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="cedula" class="form-label">Correo</label>
      </div>
      <div class="col-md-6">
        <p>{{freelancerData.perfil.direccion}}</p>
        <!-- <input type="text" class="form-control" id="correo"> -->
      </div>
    </div>
    <div class="m-2">
      <button *ngIf="!editFormMode" pButton pRipple type="button" label="Editar perfil" class="p-button-rounded" [style]="{'backgroundColor':'var(--indigo-500)'}" (click)="editFormMode =! editFormMode"></button>
    </div>
  </div>
  <div *ngIf="editFormMode">
    <user-form [data]="{perfil: freelancerData.perfil, type: 'freelancer'}" (saveChanges)="updateMode($event)"></user-form>
    <button pButton pRipple type="button" label="Volver" class="p-button-rounded" [style]="{'backgroundColor':'var(--indigo-500)'}" (click)="editFormMode =! editFormMode"></button>
  </div>

  <!-- <button pButton pRipple type="button" label="Guardar" class="p-button-rounded mt-4" [style]="{'backgroundColor':'var(--indigo-500)'}"></button> -->
</ng-template>

<ng-template #dataCollector>
  <div *ngIf="!editFormMode">
    <!-- Collector -->
    <div class="row">
      <div class="col-md-6">
          <label>Usuario</label>
      </div>
      <div class="col-md-6">
          <p>{{collectorData.perfil.usuario}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Nombre</label>
        </div>
        <div class="col-md-6">
            <p>{{collectorData.perfil.primerNombre | titlecase}} {{collectorData.perfil.segundoNombre | titlecase}} {{collectorData.perfil.primerApellido | titlecase}} {{collectorData.perfil.segundoApellido | titlecase}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Identificación</label>
        </div>
        <div class="col-md-6">
            <p>{{collectorData.perfil.identificacion}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Correo</label>
        </div>
        <div class="col-md-6">
            <p>{{collectorData.perfil.direccion}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Razon social de la empresa</label>
        </div>
        <div class="col-md-6">
            <p>{{collectorData.empresa.razonSocial}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>RIF de la empresa</label>
        </div>
        <div class="col-md-6">
            <p>{{collectorData.empresa.rif}}</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <label>Descripción profesional</label>
      </div>
      <div class="col-md-6">
          <p>Web Developer and Designer</p>
      </div>
    </div>
  </div>
  <div *ngIf="editFormMode">
    <user-form [data]="{perfil: collectorData.perfil, type: 'collector'}" (saveChanges)="updateMode($event)"></user-form>
    <button pButton pRipple type="button" label="Volver" class="p-button-rounded" [style]="{'backgroundColor':'var(--indigo-500)'}" (click)="editFormMode =! editFormMode"></button>
  </div>
  <button *ngIf="!editFormMode" pButton pRipple type="button" label="Editar perfil" class="p-button-rounded" [style]="{'backgroundColor':'var(--indigo-500)'}" (click)="editFormMode =! editFormMode"></button>

  <!-- <div *ngIf="editFormProfessional">
    <professional-form  [data]="{perfil: collectorData.perfil, type: 'collector'}" (saveChanges)="updateProfesionMode($event)"></professional-form>
    <button *ngIf="editFormProfessional" pButton pRipple type="button" label="Volver" (click)="editFormProfessional =! editFormProfessional" class="p-button-rounded mt-4 text-center" [style]="{'backgroundColor':'var(--indigo-500)'}"></button>
  </div>
  <button *ngIf="!editFormProfessional" pButton pRipple type="button" label="Editar información" (click)="editFormProfessional =! editFormProfessional" class="p-button-rounded mt-4 text-center" [style]="{'backgroundColor':'var(--indigo-500)'}"></button> -->
</ng-template>

