<app-navbar></app-navbar>
<div class="header">
  <div class="d-table h-100 w-100">
    <div class="text-center d-table-cell align-middle ">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-left" data-aos="zoom-in" data-aos-offset="25" data-aos-duration="2000">Políticas y Condiciones de uso</h1>
          </div>
          <div class="col">
            <img class="img-banner" src="assets/images/Funcion/output-onlinegiftools.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-lg">
  <h1 class="text-center m-4">Términos y Condiciones de Uso</h1>
  <h2 class="text-left mb-2 mt-2">INFORMACIÓN RELEVANTE</h2>
  <p class="text-justify">Es requisito necesario para el uso de los servicios que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios implica que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. </p>
  <br>
  <p class="text-justify">El uso de la plataforma queda reservado para ciudadanos que sean mayores de edad, esto implica que tenga una edad mayor o igual a 18 años.</p>
  <br>
  <p class="text-justify">Weworkers asume que los datos proporcionados por el usuario son verídicos.</p>
  <h2 class="text-left mb-2 mt-2">PRIVACIDAD Y USO DE DATOS</h2>
  <p class="text-justify">La información proporcionada por el usuario quedará registrada en el sistema de weworkers y se usará en caso de ser necesario para mejorar la experiencia del usuario o ejecutar funciones dentro de la plataforma.</p>
  <br>
  <p class="text-justify">Weworkers no se hace responsable si el usuario envía o expone datos sensibles por medio de la plataforma a otros usuarios y esos son empleados para fines no éticos, por ejemplo: número de identificación, registro fiscal, número de tarjeta de crédito, dirección de casa, entre otros.</p>
  <br>
  <p class="text-justify">El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento. Weworkers no asume la responsabilidad en caso de que entregue dicha clave a terceros.</p>
  <br>
  <p class="text-justify">La plataforma podrá enviar reportes al correo del usuario y la recuperación del usuario queda en dependencia de esta vía.  </p>
  <br>
  <p class="text-justify">Weworkers reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
</div>
