.navbar{
  background-image: url(../../../../../assets/logo/navbar.jpg);
}

.container-fluid{
  padding: 0.3rem;
}

.span-color{
  color: #c8cdf7;
}

.navbar-brand, .nav-link{
  color: #fff !important;
}

.navbar-nav{
  padding-top: 0.2rem;
}

button{
  margin-right: 0.5rem;
}

.nav-link{
  font-family: 'Montserrat';
}

