
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bubbles {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.login{
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  background-image: url(../../../../assets/landing/landing-background.jpg);
  background-size: cover;
}
/*
.circle {
    position: absolute;
    z-index: -100;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    animation: flying 5s infinite ease-in;
    opacity: 0.5;
    bottom: -100px
}

@keyframes flying {
    0% {
        bottom: -100px;
        transform: translateX(0)
    }

    50% {
        transform: translateX(100px)
    }

    100% {
        bottom: 1080px;
        transform: translateX(-250px)
    }
}

.circle:nth-child(1) {
    width: 60px;
    height: 60px;
    left: 20%;
    animation-delay: 3s
}

.circle:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 40%;
    animation-delay: 6s
}

.circle:nth-child(3) {
    width: 65px;
    height: 65px;
    animation-delay: 4s
}

.circle:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 9s
} */

.container {
    margin: 50px auto
}

.container .content {
  max-width: 50%;
  margin-right: 25px;
  /* max-width: 42%;
    margin-right: 30px*/
}

/* .container .fs-5 {
    font-size: 1.4rem !important;
    font-weight: 200
} */

.container .text-grey {
    color: #e8e8e8
}

.container .text {
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.6rem
}

/* .container .btn {
    border: none;
    box-shadow: 0 2px 3px #505050b0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1.3px
} */

/* .container .content .btn.btn-primary {
    color: #f2f2f2;
    background-color: #14ca72
}

.container .content .btn.btn-primary:hover {
    background-color: #21a063
} */

/* .container .btn.btn-default {
    background-color: #fff
}

.container .btn.btn-default:hover {
    background-color: #f2f2f2
} */

/* .container .btn img {
    width: 20px;
    height: 20px;
    border-radius: 50%
} */

.container .card {
    margin-left: 40px;
    min-width: 330px;
    max-width: 434px;
    height: 470px;
    padding-top: 1rem;
    border: none;
    overflow: hidden;
    border-radius: 8px;
}

.form-card{
  padding-top: 3rem;
}

.title1{
  display: flex;
  align-items: center;
}

.title{
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

/* .button-container{
  padding-top: 3rem;
} */

.message{
  font-size: 0.8rem;
  color: #dc3545;
}

#icon-eye{
  position: absolute;
  top: 21px;
  right: 16px
}

.button{
  height: 3rem;
  width: 19rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.button2{
  width: 14rem !important;
  height: 3rem;
  border-radius: 2rem;
  align-self: center;
  background: #3e34a7 !important;
}


.container .card .card-head {
    padding: 15px 20px;
    overflow-x: hidden;
    box-shadow: 0 2px 3px #1f1f1f33;
    height: 140px
}

.container .card .card-form {
    height: 100%;
    padding: 15px 20px;
}

.container .card .card-form .input-field {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    box-shadow: 0 2px 3px #1f1f1f33
}

.container .card .card-form .input-field .form-control {
    box-shadow: none;
    border: none
}

.container .card .card-form .input-field input:focus::placeholder {
    color: #fff
}

/* .container .card .fs-08 {
    font-size: 0.85rem;
    font-weight: 500
} */

/* .container .card .card-form .btn {
    width: 100px
} */

.btn-primary {
    background-color: #5f5ccdd4
}

.btn-primary:hover {
    background-color: #5f5ccdd4
}

@media (max-width: 767.5px) {
    .container .content {
        max-width: 100%;
        margin-bottom: 30px;
        padding: 15px;
        margin-right: 0px
    }

    .container .card {
        margin-left: 0
    }
}

@media (max-width: 350px) {
    .container .content .btn {
        font-size: 0.8rem
    }

    .container .card {
        min-width: 300px
    }
}

form{
  position: relative;
  z-index: 1;
}

.image{
  /* height: 20rem;
  padding-top: 4rem; */
  height: 20rem;
  position: relative;
  padding-top: 4rem;
  z-index: 5;
}

@media screen and (max-width: 1000px){
  .image{
    max-width: 100%;
    height: auto;
    display: none;
  }

  .text-white{
    text-align: center;
  }
}

/*Animación*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

