<div [formGroup]="ProfessionalForm">
  <div class="row">
    <div class="col-md-6">
        <label class="form-label">Tipo de Desarrollador</label>
    </div>
    <div class="col-md-6 mb-4">
      <select class="form-select" formControlName="tipoDesarrolladorId" aria-label="Default select example">
        <option selected>Selecciona el tipo</option>
        <option *ngFor="let tipodeDesarrollador of tipoDesarrollador" [ngValue]="tipodeDesarrollador.id">{{tipodeDesarrollador.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <label>Modalidad que prefiere</label>
      </div>
      <div class="col-md-6 mb-4">
        <!-- select modalidades -->
        <div class="p-fluid mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="modalidadId">
            <option selected disabled>Selecciona el estado</option>
            <option *ngFor="let modalidad of itemsModalidades" [ngValue]="modalidad.id">{{modalidad.nombre}}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <label for="sueldo" class="form-label">Sueldo</label>
      </div>
      <div class="col-md-6 mb-4">
        <input type="number" class="form-control" formControlName="sueldo" id="sueldo">
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <label>Tipo de pago</label>
      </div>
      <div class="col-md-6 mb-4">
        <select class="form-select" formControlName="tipoPagoId" aria-label="Default select example">
          <option selected disabled>tipo de pago</option>
          <option *ngFor="let tipo of itemsTiposPago" [ngValue]="tipo.id">{{tipo.nombre}}</option>
        </select>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <label>tipo de moneda</label>
      </div>
      <div class="col-md-6 mb-4">
        <select class="form-select" formControlName="monedaId" aria-label="Default select example">
          <option selected>tipo de moneda</option>
          <option *ngFor="let moneda of items" [ngValue]="moneda.id">{{moneda.nombreLargo}}</option>
        </select>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <label for="experiencia" class="form-label">Experiencia</label>
        <textarea class="form-control" formControlName="descripcion" id="experiencia" rows="4" style="resize: none;"></textarea>
      </div>
  </div>
  <button pButton pRipple type="button" [disabled]="!ProfessionalForm.valid" (click)="sendDetailProfile(ProfessionalForm.value)" label="Guardar Cambios" class="p-button-rounded mt-4 mb-4" [style]="{'backgroundColor':'var(--indigo-500)', 'border':'var(--indigo-500)'}"></button>

</div>
