<div class="container bg-light">
  <div class="table-wrap table-responsive">
      <!-- <table class="table table-borderless" *ngIf="userRole.value">
        info del freelancer
      </table> -->
      <table class="table table-borderless">
          <thead>
              <tr class="p-0">
                  <td class="w350 p-0" scope="col"> <small class="btn btn-primary h-3 px-2">PROYECTOS</small> </td>
                  <td *ngIf="!userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">PROPUESTAS OBTENIDAS</small> </td>
                  <td *ngIf="!userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">PRESUPUESTO</small> </td>
                  <td *ngIf="!userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">TECNOLOGIAS</small></td>
                  <td *ngIf="!userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">VER MÁS</small> </td>
                  <td *ngIf="userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">FECHA INICIO</small> </td>
                  <td *ngIf="userRole.value" class="text-center w100 p-0 py-2" scope="col"><small class="text-muted">FECHA FIN</small> </td>
              </tr>
          </thead>
          <tbody >
              <tr class="border-bottom bg-white" *ngFor="let listarProyecto of listarProyectos">
                  <td class="row">
                      <div class="d-flex align-items-center"> <span class="bg-violet mx-2"></span> <span>{{listarProyecto.nombre}}  </span></div>
                      <div><i class="pi pi-star"></i> <span> {{listarProyecto.descripcion}}</span></div>
                  </td>
                  <td class="text-center" *ngIf="!userRole.value">{{listarProyecto?.propuestasCantidad || ''}}</td>
                  <td class="text-center" *ngIf="!userRole.value">{{listarProyecto?.presupuesto || ''}}</td>
                  <div *ngIf="!userRole.value">
                    <div *ngFor="let tags of listarProyecto.tags">
                      <td class="text-center"><span class="btn btn-secondary yellow" *ngIf="tags !== null">{{tags.nombre}}</span> </td>
                    </div>
                  </div>
                  <td class="text-center" *ngIf="!userRole.value">
                    <span class="pi pi-search-plus" routerLink="/dashboard/project-data/{{listarProyecto.id}}" style="margin-right:15px; cursor: pointer;"></span>
                    <p-button *ngIf="!listarProyecto.cuestionarioExiste" label="Crear cuestionario" [style]="{'backgroundColor':'var(--indigo-600)','border':'none','margin-top':'5px'}" routerLink="/dashboard/create-questionnaire/{{listarProyecto.id}}/crear"></p-button>
                  </td>
                  <td class="text-center" *ngIf="userRole.value">{{listarProyecto.fechaCrea.etiquetaSemantica}}</td>
                  <td class="text-center" *ngIf="userRole.value">{{listarProyecto.fechaTermina.etiquetaSemantica}}</td>
              </tr>
          </tbody>
      </table>
    <div class="filter">
    <app-pagination
    *ngIf="!userRole.value"
    [rows]="paginationService.perPage"
    [totalRecords]="paginationService.totalCount"
    (paginatorChange)="onChangePagination($event)"
    ></app-pagination>
    </div>
  </div>
</div>
<app-load [load]="loading"></app-load>
<app-footer-general class="footer"></app-footer-general>
