#content{
  margin-right: 100px;
}

@media screen and (max-width:600px){
  .right-sidebar{
    display: none;
  }

  #content{
    margin-right: 0;
  }

  ::ng-deep.p-card {
    background: #ffffff;
    width: 81% !important;
  }
}
