<div class="page-wrapper">
  <div class="container mt-5 mb-5">
    <div class="row g-2" *ngIf="detalleProyecto">
        <div class="col-md-6">
            <div class="card bg-white p-3 px-4 d-flex justify-content-center">
              <span class="price">{{detalleProyecto.nombre}}</span><h5 class="mb-0">{{detalleProyecto.presupuesto}}{{detalleProyecto.monedaNombreCorto}}</h5>
                <div class="mt-4">
                    <div class="d-flex justify-content-between align-items-center"><span>{{detalleProyecto.descripcion}}</span> </div>
                    <div class="d-flex justify-content-between align-items-center"> <span>Plataforma de pago</span> <span>{{detalleProyecto.tiposPagoNombre}}</span> </div>
                    <div class="d-flex justify-content-between align-items-center"> <span>Modalidad</span> <span>{{detalleProyecto.modalidadNombre}}</span> </div>
                    <!-- <div class="d-flex justify-content-between align-items-center"> <span>Tecnologias</span>
                      <span *ngFor="let tags of detalleProyecto.tags">{{tags.nombre}}</span>
                    </div> -->
                </div>
                <div class="mt-4" *ngIf="userRole.value"> <button class="btn" [style]="{'backgroundColor':'#825af5', 'border':'none', 'color':'#fff'}" routerLink="/dashboard/quiz-presentation">Responder Cuestionario</button> </div>
                <div class="mt-4" *ngIf="!userRole.value && detalleProyecto.cuestionarioExiste"> <button class="btn" [style]="{'backgroundColor':'#825af5', 'border':'none', 'color':'#fff'}" routerLink="/dashboard/create-questionnaire/{{detalleProyecto.id}}/ver">Ver Cuestionario</button> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex flex-column">
                    <div class="pricing-1 d-flex justify-content-between details">
                        <div> <span class="d-block">Numero de personas que se propusieron</span> <span class="font-weight-bold">{{detalleProyecto.propuestasCantidad}}</span> </div>
                        <div class="circle"> <span></span> <span></span> <span></span> <span></span> </div>
                    </div>
                    <div class="pricing-1 d-flex justify-content-between details">
                        <div> <span class="d-block">Numero de personas que realizaron el cuestionario</span> <span class="font-weight-bold">Numero</span> </div>
                        <div class="circle"> <span></span> <span></span> <span></span> <span></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-lg" *ngIf="!userRole.value">
    <h5>Freelancer propuestos</h5>
    <p-card header="Primer freelancer" [style]="{'margin':'1rem 0', 'box-shadow': '0 2px 2.5px -1px rgb(0 0 0 / 22%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 35%)'}"></p-card>
    <p-card header="Primer freelancer" [style]="{'margin':'1rem 0', 'box-shadow': '0 2px 2.5px -1px rgb(0 0 0 / 22%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 35%)'}"></p-card>
    <p-card header="Primer freelancer" [style]="{'margin':'1rem 0', 'box-shadow': '0 2px 2.5px -1px rgb(0 0 0 / 22%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 35%)'}"></p-card>
  </div>
</div>
<app-footer-general class="footer"></app-footer-general>
