<div class="page-wrapper">
  <div  class="welcome-card">
    <p-card header="titulo del proyecto" [style]="{'width': 'auto', 'margin': '2em 3rem', 'display': 'flex', 'height' : '25rem'}">
      <h5>Descripción del proyecto</h5>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, corporis! Illo aut corporis nobis dolore consectetur non incidunt ea tempore molestias, ex neque ad provident ratione soluta sed, quibusdam fugit eius suscipit id reiciendis necessitatibus adipisci aliquid. Fuga earum reprehenderit soluta quaerat. Aliquam sit aspernatur, quibusdam dolorum esse vitae possimus ab totam, provident dignissimos quos commodi cupiditate voluptatum quod, animi nisi temporibus fugit magni. Enim possimus iste eveniet ipsa quasi. Eos aliquam ducimus reiciendis vero laboriosam vitae voluptatum corporis, minus ea maiores, qui maxime soluta delectus a dolor debitis sequi corrupti eligendi nemo ex unde. Doloribus incidunt saepe cumque harum?</p>
      <h5>Detalles del proyecto</h5>
      <ul>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
      </ul>
    </p-card>
  </div>
  <div class="container-lg">
    <ul>
      <li>
        <p-card header="freelancer 1" [style]="{'width': 'auto', 'margin': '2em 3rem'}"></p-card>
      </li>
    </ul>
  </div>
</div>
