<div class="page-wrapper">
  <div class="container mt-5 mb-5">
    <div class="row g-2" *ngIf="detalleProyecto">
        <div class="col-md-6">
            <div class="card bg-white p-3 px-4 d-flex justify-content-center">
              <span class="price">{{detalleProyecto.nombre}}</span><h5 class="mb-0">{{detalleProyecto.presupuesto}}{{detalleProyecto.monedaNombreCorto}}</h5>
                <div class="mt-4">
                    <div class="d-flex justify-content-between align-items-center"><span>{{detalleProyecto.descripcion}}</span> </div>
                    <div class="d-flex justify-content-between align-items-center"> <span>Plataforma de pago</span> <span>{{detalleProyecto.tiposPagoNombre}}</span> </div>
                    <div class="d-flex justify-content-between align-items-center"> <span>Modalidad</span> <span>{{detalleProyecto.modalidadNombre}}</span> </div>
                    <!-- <div class="d-flex justify-content-between align-items-center"> <span>Tecnologias</span>
                      <span *ngFor="let tags of detalleProyecto.tags">{{tags.nombre}}</span>
                    </div> -->
                </div>
                <div class="mt-4" *ngIf="userRole.value"> <button *ngIf="detalleProyecto.cuestionarioExiste && !detalleProyecto.cuestionarioUsuario" class="btn" [style]="{'backgroundColor':'#825af5', 'border':'none', 'color':'#fff'}" routerLink="/dashboard/quiz-presentation">Responder Cuestionario</button> </div>
                <div class="mt-4" *ngIf="!userRole.value && detalleProyecto.cuestionarioExiste"> <button class="btn" [style]="{'backgroundColor':'#825af5', 'border':'none', 'color':'#fff'}" routerLink="/dashboard/create-questionnaire/{{detalleProyecto.id}}/ver">Ver Cuestionario</button> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex flex-column">
                    <div class="pricing-1 d-flex justify-content-between details">
                        <div> <span class="d-block">Numero de personas que se propusieron</span> <span class="font-weight-bold">{{detalleProyecto.propuestasCantidad}}</span> </div>
                        <div class="circle"> <span></span> <span></span> <span></span> <span></span> </div>
                    </div>
                    <div class="pricing-1 d-flex justify-content-between details">
                        <div> <span class="d-block">El trabajo hecho con gusto y con amor, siempre es una creación original y única.</span> <span class="font-weight-bold">(Roberto Sapriza)</span> </div>
                        <div class="circle"> <span></span> <span></span> <span></span> <span></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <section *ngIf="!userRole.value && listaFreelancer.length > 0">
    <div class="container-lg">
      <h5>Desarrolladores:</h5>
      <div *ngFor="let listarFreelancer of listaFreelancer">
        <p-card header="{{listarFreelancer.primerNombre}} {{listarFreelancer.primerApellido}}" [style]="{'margin':'1rem 0', 'box-shadow': '0 2px 2.5px -1px rgb(0 0 0 / 22%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 35%)'}">
          <div class="row">
            <div class="col-md-8">
              <ul>
                <li>Identificación: {{listarFreelancer.tipoIdentificacion}}-{{listarFreelancer.identificacion}}</li>
                <li>Puntuación obtenida: {{listarFreelancer.score}} </li>
              </ul>
            </div>
            <div class="col-md-4">
              <button pButton pRipple type="button" label="Contactar" routerLink="/dashboard/chat" [style]="{'backgroundColor':'var(--bluegray-600)', 'border': 'none', 'margin': '0.5rem'}"></button>
              <button pButton pRipple type="button" label="Ver perfil" routerLink="/dashboard/preview-profile/{{listarFreelancer.usuarioId}}" [style]="{'backgroundColor':'var(--indigo-600)', 'border': 'none', 'margin': '0.5rem'}"></button>
              <button pButton pRipple type="button" label="Emplear" *ngIf="!listarFreelancer.usuarioParticipando" (click)="contratar(listarFreelancer)" [style]="{'backgroundColor':'var(--indigo-300)', 'border': 'none', 'margin': '0.5rem'}"></button>
              <button pButton pRipple type="button" label="Desemplear" *ngIf="listarFreelancer.usuarioParticipando" (click)="Borrarcontratar(listarFreelancer)" [style]="{'backgroundColor':'#dc3545', 'border': 'none', 'margin': '0.5rem'}"></button>
            </div>
          </div>
        </p-card>
      </div>
      <div class="filter" *ngIf="!userRole.value">
        <app-pagination
          [rows]="paginationService.perPage"
          [totalRecords]="paginationService.totalCount"
          (paginatorChange)="onChangePagination($event)"
        ></app-pagination>
      </div>
    </div>
  </section>
  <section class="text-center" *ngIf="listaFreelancer.length < 1 && !userRole.value">
    <h5>No hay propuestas de desarrolladores.</h5>
  </section>
</div>
<app-footer-general class="footer"></app-footer-general>
