
.page-wrapper {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* .p-card .p-card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
} */

.details{
  font-weight: 600;
  font-size: 1.2rem;
}

.card {
  border: none;
  height: 300px;
  box-shadow: 0 2px 2.5px -1px rgb(0 0 0 / 22%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 35%) !important;
}

.bg-white {
  background-color: #fff
}

.price {
  font-size: 20px;
  color: #6a5ae7;
  font-weight: 600
}

ul{
  list-style: none;
}

.pricing-1 {
  background-color: #6f5fe8;
  height: 145px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 15px;
  color: #fff;
  position: relative
}

.pricing-2 {
  background-color: #6f5fe8;
  height: 145px;
  width: 100%;
  border-radius: 4px
}

.circle span:nth-child(1) {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 4px;
  opacity: 0.3
}

.circle span:nth-child(2) {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 60px;
  top: 50px;
  opacity: 0.3
}

.circle span:nth-child(3) {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 150px;
  top: 30px;
  opacity: 0.3
}

.circle span:nth-child(4) {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 100px;
  opacity: 0.3
}
